.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: var(--max-width);
  width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.nav {
  display: flex;
  padding: 1.5rem;
  margin-left: 5px;
  background-color: #121212;
}

.seccionesNav {
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.3rem;
  border-bottom: 4px solid transparent;
}

.seccionesNav:hover {
  border-bottom: 4px solid #C75F00;
}


.tituloHome{
  font-family: "montserrat", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 100px;
}

.tituloPaginas{
  font-family: "montserrat", sans-serif;
  font-size: 42px;
  text-align: center;
  margin-top: 80px;
  font-weight: 600;
  color: #C75F00;
}

.subtitulos{
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
}

.subtituloServicios{
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 32px;
  text-align: center;
}

.subtituloApp{
  font-family: "montserrat", sans-serif;
  color: #C75F00;
  font-size: 32px;
  text-align: left;
  padding-bottom: 20px;
}

.tituloFooter{
  font-size: 22px;
  font-family: "montserrat", sans-serif;
  text-align: center;
}

.contenedorQuienesSomos{
  margin-top: 300px;
  margin-bottom: 80px;
}

.contenedorNuestraApp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 420px;
  margin-bottom: 60px;
}

.contenedorTextoNuestraApp {
  font-family: "montserrat", sans-serif;
  margin: 140px;
  margin-top: 0; /* Elimina el margen superior negativo */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */

 
}



.circulo {
  width: 300px;
  height: 300px;
  background-color: #ffa24a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px;
  margin-left: 300px;
}

.contenedorServicios{
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .contenedorNuestraApp {
      flex-direction: column;
  }
  .circulo{
      width: 100%;
  }
  .celularImagen {
      width: 150px;
  }
}

.contenedorFooter{
  background-color: #121212;
  padding: 30px;
  margin-top: 80px;
}

.contenedorFormasContactoFooter ul li{
  font-family: "montserrat", sans-serif;
  list-style-type: none;
}

.emailFooter{
  font-family: "montserrat", sans-serif;
}

.emailFooter:hover{
  color: #f57600;
}

.posicionContacto{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorMapa{
  padding: 20px;
}


.mapa{
  width: 500px;
  height: 400px;
  margin-top: 40px;
  padding: 40px;
}

.contenedorMapa address{
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 3000px;
  max-width: 400px;
  margin: auto;
}

.formulario label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
}

.formulario input,
.formulario textarea {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #121212;
}

.formulario button {
  font-family: "montserrat", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  padding: 0.6rem 1rem;
  background-color: #f57600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #C75F00;
}

.posicionServicios{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.cajaServicios{
  background-color: #121212;
  border-radius: 20px;
  width: 300px;
  height: 240px;
  margin: 20px;
}

.cajaServicios:hover{
  background-color: #C75F00;
}

.contenedorCardServicios{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cardServicios{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  background-color: #121212;
  margin: 20px;
  border-radius: 20px;
}

.cardServicios:hover{
  background-color: #C75F00;
}

.cardServicios:hover .botonCardServicio{
  background-color: white;
  color: #f57600;
  font-weight: bold;
}

.tituloCardServicio{
  font-family: "montserrat", sans-serif;
  text-align: center;
  margin-top: 20px;
}

.descripcionServicio{
  font-family: "montserrat", sans-serif;
}

.botonCardServicio{
  font-family: "montserrat", sans-serif;
  padding: 6px;
  font-weight: lighter;
  background-color: #f57600;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

.botonCardServicio:hover{
  background-color: #C75F00;
}

.nombreServicios{
  font-family: "montserrat", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  text-align: left;
  padding: 5px;
  margin: 20px;
  text-align: left;
}


.posicionSeccionProductos{
  display: flex;
}

.contenedorCategorias{
  background-color: #121212;
  border-radius: 4px;
  margin-top: 100px;
}

.contenedorCategorias a{
  display: block;
  font-family: "montserrat", sans-serif;
  margin-top: 10px;
  margin: 40px;
  border: 3px solid transparent;
}

.contenedorCategorias a:hover{
  color: #f57600;
}

.carrito{
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: 20px;
}

.iconoServicios{
  width: 140px;
  height: 140px;
  margin: auto;
  cursor: pointer;
}

.iconoServiciosCard{
  display: flex;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin: auto;
  margin-top: 20px;
}

.cajaServicios img{
  display: flex;
  justify-content: center;
}

.subtituloServicio{
  font-family: "montserrat", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 8px;
}

.contenedorTextoQuienesSomos{
  padding: 20px 200px;
  margin-top: 40px;
  background-color: #C75F00;
  border-radius: 40px;
  margin: 80px;
  padding: 40px;
}

.contenedorTextoQuienesSomos p{
  display: block;
  font-size: 18px;
  justify-content: center;
  text-align: left;
  font-family: "montserrat", sans-serif;

}

.contenedorTextoQuienesSomos span{
  font-weight: bolder;
}

.textoError404{
  font-family: "montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 7px;
}

.contenedor404{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.posicionBotonError404{
  display: flex;
  justify-content: center;
  text-align: center;
}

.botonError404{
  background-color: #f57600;
  padding: 5px;
  border-radius: 4px;
  font-family: "montserrat", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.botonError404:hover{
  background-color: #C75F00;
}

.posicionPreguntasFrecuentes{
  margin-top: 80px;
  margin-bottom: 80px;
}

.contenedorPreguntasFrecuentes{
  display: flex;
  justify-content: center;
  background-color: #C75F00;
  padding: 10px;
  margin: 12px;
  border-radius: 6px;
}

.contenedorPreguntasFrecuentes:hover{
  background-color: #f57600;
}

.contenedorPreguntasFrecuentes h2{
  font-family: "montserrat", sans-serif;
}





